.editor-page-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;

  .p-panel:has(.p-panel-header) .p-panel-content {
    padding: 0 16px 16px 16px;
  }

  .p-panel-content {
    padding: 16px 16px 16px 16px;
  }

  input {
    width: 100%;
  }
}

.sidebar {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main-sub {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  .p-panel-content {
    min-width: 350px;
    max-height: 85vh;
    overflow: scroll;
  }

  > .p-panel-toggleable:has(.p-toggleable-content) {
    max-width: 100vw;
  }
  > .p-panel-toggleable:not(:has(.p-toggleable-content)) {
    height: 48px;
  }
}
@media (min-width: 900px) {
  .sidebar {
    position: sticky;
    top: 32px;
    align-self: flex-start;
    z-index: 2;
  }

  .main-sub > .p-panel-toggleable {
    flex: 1;
    z-index: 11;
    user-select: none;
    transition:
      max-width 0.2s ease,
      transform 0.5s ease,
      height 0.5s ease,
      margin-left 0.5s ease;
    max-width: 200px;
    transform: none;
    transform-origin: center top;
    margin-left: 0;
  }

  .main-sub:has(.p-toggleable-content) > .p-panel-toggleable:not(:has(.p-toggleable-content)) {
    display: inline-block;
    transform: translateX(100px) translateY(100px) rotate(90deg);
    height: 200px;
    margin-left: -152px;
    z-index: 10;
  }

  /*noinspection CssMissingComma*/
  .main-sub:has(.p-toggleable-content)
    > .p-panel-toggleable:not(:has(.p-toggleable-content)):first-child {
    transform: translateX(52px) translateY(100px) rotate(-90deg);
  }
}
@media (max-width: 900px) {
  .editor-page-container {
    flex-direction: column;
  }
  .main-sub {
    flex-direction: column;
  }
  .editor-page-hide-on-small {
    display: none;
  }
}

.panel-editor {
  height: 85vh;
  /*height: 100%;*/
  display: flex;
  flex-direction: column;

  > div {
    height: 100%;
  }
  .p-panel-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.panel-logs pre {
  margin: 0;
  background: transparent;
  white-space: pre-wrap;
  /* Hanging indent for wrapped lines */
  text-indent: -1em;
  padding: 0 0 0 1em;
}

.editor-page-container .p-menubar {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px;
  background: #111;
  border: none;
}

.model-viewer-container {
  background: #111;
  display: flex;
  flex-direction: column;
}

.model-viewer {
  width: 100%;
  max-height: 90vh;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* DISABLE PRIMEREACT MENUBAR COLLAPSING */
.editor-page-container :where(.p-menubar) .p-menubar-root-list {
  position: static !important;
  display: flex !important;
  background: none !important;
  box-shadow: none !important;
  width: unset !important;
  padding: 0 !important;
  border: none !important;
}
.editor-page-container .p-menubar .p-menubar-root-list .p-menuitem {
  width: unset !important;
  position: relative !important;
}
.editor-page-container .p-menubar .p-menubar-button {
  display: none !important;
}
.editor-page-container .p-menubar .p-menubar-root-list .p-submenu-list {
  width: unset !important;
  position: absolute !important;
}
